<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
<title>Machine Learning Lab Experiment Deployment</title>
<meta charset="UTF-8">
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"> 
<style>

h1 {text-align: center;}
h2 {text-align: center;}
h3 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
</head>

<body>
 
     
<div class="" style="background-color:blue;" >
<div class="clearfix">
</div>
</div>

<div class="login">
<h2 >Regression Analysis to predict house price on the basis of house features</h2>
<h4>Developed by Yash Sankhla</h4>
<!-- Main Input For Receiving Query to our ML -->
<form action="{{ url_for('predict')}}"method="get">
<div class="form-floating mb-3">

<input type="number" class="form-control" id="home" name="home" step="any" min="0" max="128" placeholder="0" required="required">
<label for="floatingInput">Enter Home Number</label>
</div>
<br>
<div class="form-floating mb-3">
<input type="number" class="form-control" id="SqFt" name="SqFt" step="any" min="0" max="3000" placeholder="0" required="required">
<label for="floatingInput">Enter Square Fit of House</label>
</div>
<br>
<div class="form-floating mb-3">
<input type="number" class="form-control" id="bed" name="bed" step="any" min="0" max="5" placeholder="0" required="required">
<label for="floatingInput">Enter number of Bedrooms</label>
</div>
<br>
<div class="form-floating mb-3">
<input type="number" class="form-control" id="bath" name="bath" step="any" min="0" max="5" placeholder="0" required="required">
<label for="floatingInput">Enter number of Bathrooms</label>
</div>
<br>
<div class="form-floating mb-3">
<input type="number" class="form-control" id="offers" name="offers" step="any" min="0" max="5" placeholder="0" required="required">
<label for="floatingInput">Enter number of Offers</label>
</div>
<br>
<div class="form-floating mb-3">
<input type="number" class="form-control" id="brick" name="brick" step="any" min="0" max="1" placeholder="0" required="required">
<label for="floatingInput">Enter Brick</label>
</div>
<br>
<div class="form-floating mb-3">
<input type="number" class="form-control" id="neighborhood" name="neighborhood" step="any" min="0" max="2" placeholder="0" required="required">
<label for="floatingInput">Enter "0" for "east" or "1" for "north" or "2" for "west" of Neighborhood</label>
</div>
<br>

<br>
<button type="submit" class="btn btn-primary btn-block btn-large">Predicted House Price</button>
</form>
<br>
<br>
{{ prediction_text }}

</div>

<div class="" style="background-color:blue;" >
<div class="clearfix">
           
<div class="col-md-12">
 <center><p style="font-size:25px;color:white;margin-top:20px;">Machine Learning  Experiment </p></center> 
</div>
</div>
</div>
</body>
</html>
